<header>
  <h1><a href="/">Nabsan</a></h1>
  <h2>A Blog</h2>
  <div class="deets">
    <p>Researcher on home @ Nagasaki.</p>
    <p>Freelance developer @ <a href="http://ikarosu.net">ikarosu.net</a>.</p>
    <p>Physics undergraduate @ <a href="http://soton.ac.uk">University of Tokai</a>.</p>
    <p><a href="mailto:nabsan@ikarosu.net">Contact me</a> or find me on twitter.</p>
    <p class="quiet">The source for this site is available on <a href="http://github.com/nabsan/nabsan.github.com">GitHub</a></p>
  </div>
</header>
